body{
 background-image: url(../img/fcontact.jpg);

}
section{
	background-image: url("../img/fcontanct.png");
	width: 80%;
}
.main-conteiner{
	
	

}


/* -- HEADER -- */
.navbar{
  margin-bottom: 0;
}

.jumbotron-lb{
	padding: 20px 0;
}

