body{
	background-image: url("img/fgris.png");
}
header{
	



}



div{
	padding-left:20px;	
}
#datos{
	padding: 20px 20px;
	border: 2px solid black;
	margin: 0 auto;
	width: 50%;
	
	margin-top: 50px;
}

nav{
	background-color: #D0CAC9;
	color: white;
	
}

#ofertas{
	text-align: center;
}

#contenido  section {
				background-color: #eaeaeb;				
				text-transform: uppercase;
				padding: 10px;
				font-weight: bold;
				border: 1px solid blue;
				padding-left: 20px;
			}

footer{
	padding: 30px 20px;
	background-color: black;
	margin-top: 13%;
	
	text-align: center;
	color: white;

}
