
 body{
	background: #D8D6D6;
	margin: 0 auto;
	width: 80%;
 }
  header{
	 
 }
  #logo{
	float: left;
	 padding-top: 3%;
	 margin-left: 5%;
 }
 #menu{
	text-align: right;
	margin-right: 7%;

	padding-top: 5%;
 }
 nav{
	 padding-top: 10%;
	 padding-left: 35%;
 }
 
 #ofertas{
	 padding-top: 10%;
	 text-align: center;
 }

 

 footer{
	 margin-top: 10%;
	 text-align: center;
	padding-top: 1%;
	 border-top: 1px solid #000;
	 color: #052A4A;
 }