body {
	
	font-family: Arial;
	font-size: 30px;
	background-image: url(http://www.naza-solutions.com/recursos/imagenes/abarrotes.jpg);
}
header{
	text-align: center;
}

#quienesSomos {
  
  text-align: center;
  margin:60px;
  background-color:#27ADD6;

}
#mision {
  
  text-align: center;
  margin:60px;
  background-color:#27ADD6;

}
#vision {
  
  text-align: center;
  margin:60px;
  background-color:#27ADD6;

}